body {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(131, 131, 131);
}

button {
    background-color: blueviolet;
    font-size: 13px;
    border-radius: 10px;
}

.quickInfo {
    width: 40%;
    background-color: rgb(202, 162, 240);
    position: static;
    left: 100px;
}