body {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: #36295c;

}

nav a, .nav-item {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}


button {
    background-color: blueviolet;
    font-size: 13px;
    border-radius: 10px;
}

.navbar-brand {
    margin:2px;

}

#quickInfo {
    width: 40%;
    background-color: #f2f0f6;
    position: static;
    left: 100px;
}

.floatLeft {
    float:left;
}

#carouselExampleCaptions {
align-items: center;
}

#SloganSection {
    background-color: #A9A1C3;
}