body {
    background-color: rgb(255, 255, 255);
}


/*Styling for the navbar*/
nav {
    background-color: #36295c;

}

nav a, .nav-item {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}


.formButton {
    background-color: blueviolet;
    font-size: 13px;
    border-radius: 5px;
}

.formButton:hover {
    background-color: rgb(161, 106, 212);
    font-size: 13px;
    border-radius: 10px;
}

.navbar-brand {
    margin:2px;

}

/*Styling for homepage*/

#quickInfo { /*Styles the quick info section*/
    width: 30%;
    background-color: #f2f0f6;
    left: 100px;
}


#carouselExampleCaptions {
align-items: center;
}

#SloganSection {
    background-color: #A9A1C3;
}

/*Styles the Team page*/

.aboutLynette {
    padding: 10px;
    margin:15px;
background-color: #f3f3f6;
border: 2px solid rgb(214, 214, 214);
border-radius: 3px;

}

.floatLeft { /*Lynette's picture*/
    float:left;
}

.cohorts {
padding: 20px;
    margin:20px;
}